<main class="main">
    <div class="container">
        <div class="box-404 mb-30">
            <div class="row align-items-center">
                <div class="col-lg-6 pr-80">
                    <div class="text-5xl text-bold mb-10">Page introuvable</div>
                    <div class="text-xl text-bold mb-20">Désolé, mais la page<br>que vous recherchez est introuvable.</div>
                    <div class="text-md mb-30">Vous pouvez retourner à notre page d’accueil ou nous contacter<br>si vous ne trouvez pas ce que vous cherchez.
                    </div>
                </div>
                <div class="col-lg-6 text-end"><img class="d-inline" src="assets/imgs/template/404.png" alt="kidify">
                </div>
            </div>
        </div>
    </div>
</main>