<main class="main">
  <section class="section block-blog-single block-cart">
    <div class="container">
      <div class="top-head-blog">
        <div class="text-center">
          <h2 class="font-4xl-bold">Shop Cart</h2>
          <div class="breadcrumbs d-inline-block">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Shop</a></li>
              <li><a href="#">Cart</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="box-table-cart">
        <div class="table-responsive">
          <table class="table table-striped table-cart">
            <thead>
              <tr>
                <th></th>
                <th class="text-start">Product</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of cart">
                <td><input type="checkbox"></td>
                <td>
                  <div class="box-product-cart">
                    <a class="image-product-cart" href="#"><img [src]="product.imageUrl" alt="product"></a>
                    <a class="title-product-cart" href="product-single.html">{{ product.name }}</a>
                  </div>
                </td>
                <td><span class="brand-1">{{ product.price | currency }}</span></td>
                <td>
                  <button (click)="decreaseQuantity(product)">-</button>
                  <input class="input-quantity border-0 text-center" type="number" [(ngModel)]="product.quantity" readonly min=1 >
                  <button (click)="increaseQuantity(product)">+</button>
                </td>
                <td><span class="brand-1">{{ product.quantity * product.price | currency }}</span></td>
                <td>
                  <a href="#" (click)="removeProduct(product.id)">
                    <svg class="d-inline-flex align-items-center justify-content-center" width="12" height="12"
                      viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M6.00011 4.82166L10.1251 0.696655L11.3034 1.87499L7.17844 5.99999L11.3034 10.125L10.1251 11.3033L6.00011 7.17832L1.87511 11.3033L0.696777 10.125L4.82178 5.99999L0.696777 1.87499L1.87511 0.696655L6.00011 4.82166Z"
                        fill="#111111"></path>
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-30">
            <div class="box-cart-total">
              <div class="item-total border-0">
                <span class="font-sm">Total</span>
                <span class="font-xl-bold">{{ calculateTotal() | currency }}</span>
              </div>
              <a class="btn btn-brand-1-xl-bold w-100 font-sm-bold" href="/Order">Proceed To CheckOut</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>