<main class="main">
    <section class="section block-blog-single block-cart">
      <div class="container">
        <div class="top-head-blog">
          <div class="text-center">
            <h2 class="font-4xl-bold">Shop Cart</h2>
            <div class="breadcrumbs d-inline-block">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Cart</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="box-table-cart">
          <div class="table-responsive">
            <table class="table table-striped table-cart">
              <thead>
                <tr>
                  <th></th>
                  <th class="text-start">Product</th>
                  <th>Size</th>
                  <th>Unit Price</th>
                  <th>Quantity</th>
                  <th>Subtotal</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input type="checkbox">
                  </td>
                  <td>
                    <div class="box-product-cart"><a class="image-product-cart" href="#"><img src="assets/imgs/page/product/img-detail2.png" alt="kidify"></a><a class="title-product-cart" href="product-single.html">Chevron Long Dress</a></div>
                  </td>
                  <td><span class="size-product">XL</span></td>
                  <td><span class="brand-1">$18.50</span></td>
                  <td>
                    <div class="product-quantity">
                      <div class="quantity"><span class="icon icon-minus d-flex align-items-center">
                          <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.75 11.25C17.9167 11.25 18 11.3333 18 11.5V12.5C18 12.6667 17.9167 12.75 17.75 12.75H6.25C6.08333 12.75 6 12.6667 6 12.5V11.5C6 11.3333 6.08333 11.25 6.25 11.25H17.75Z" fill="currentColor"></path>
                          </svg></span>
                        <input class="input-quantity border-0 text-center" type="text" value="1"><span class="icon icon-plus d-flex align-items-center">
                          <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.75 11.25C17.9167 11.25 18 11.3333 18 11.5V12.5C18 12.6667 17.9167 12.75 17.75 12.75H12.75V17.75C12.75 17.9167 12.6667 18 12.5 18H11.5C11.3333 18 11.25 17.9167 11.25 17.75V12.75H6.25C6.08333 12.75 6 12.6667 6 12.5V11.5C6 11.3333 6.08333 11.25 6.25 11.25H11.25V6.25C11.25 6.08333 11.3333 6 11.5 6H12.5C12.6667 6 12.75 6.08333 12.75 6.25V11.25H17.75Z" fill="currentColor"></path>
                          </svg></span>
                      </div>
                    </div>
                  </td>
                  <td><span class="brand-1">$37.0</span></td>
                  <td><a href="#">
                      <svg class="d-inline-flex align-items-center justify-content-center" width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.00011 4.82166L10.1251 0.696655L11.3034 1.87499L7.17844 5.99999L11.3034 10.125L10.1251 11.3033L6.00011 7.17832L1.87511 11.3033L0.696777 10.125L4.82178 5.99999L0.696777 1.87499L1.87511 0.696655L6.00011 4.82166Z" fill="#111111"></path>
                      </svg></a></td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox">
                  </td>
                  <td>
                    <div class="box-product-cart"><a class="image-product-cart" href="#"><img src="assets/imgs/page/product/img-detail3.png" alt="kidify"></a><a class="title-product-cart" href="product-single.html">Mini Moto Jacket</a></div>
                  </td>
                  <td><span class="size-product">XL</span></td>
                  <td><span class="brand-1">$84.5</span></td>
                  <td>
                    <div class="product-quantity">
                      <div class="quantity"><span class="icon icon-minus d-flex align-items-center">
                          <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.75 11.25C17.9167 11.25 18 11.3333 18 11.5V12.5C18 12.6667 17.9167 12.75 17.75 12.75H6.25C6.08333 12.75 6 12.6667 6 12.5V11.5C6 11.3333 6.08333 11.25 6.25 11.25H17.75Z" fill="currentColor"></path>
                          </svg></span>
                        <input class="input-quantity border-0 text-center" type="text" value="1"><span class="icon icon-plus d-flex align-items-center">
                          <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.75 11.25C17.9167 11.25 18 11.3333 18 11.5V12.5C18 12.6667 17.9167 12.75 17.75 12.75H12.75V17.75C12.75 17.9167 12.6667 18 12.5 18H11.5C11.3333 18 11.25 17.9167 11.25 17.75V12.75H6.25C6.08333 12.75 6 12.6667 6 12.5V11.5C6 11.3333 6.08333 11.25 6.25 11.25H11.25V6.25C11.25 6.08333 11.3333 6 11.5 6H12.5C12.6667 6 12.75 6.08333 12.75 6.25V11.25H17.75Z" fill="currentColor"></path>
                          </svg></span>
                      </div>
                    </div>
                  </td>
                  <td><span class="brand-1">$84.5</span></td>
                  <td><a href="#">
                      <svg class="d-inline-flex align-items-center justify-content-center" width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.00011 4.82166L10.1251 0.696655L11.3034 1.87499L7.17844 5.99999L11.3034 10.125L10.1251 11.3033L6.00011 7.17832L1.87511 11.3033L0.696777 10.125L4.82178 5.99999L0.696777 1.87499L1.87511 0.696655L6.00011 4.82166Z" fill="#111111"></path>
                      </svg></a></td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox">
                  </td>
                  <td>
                    <div class="box-product-cart"><a class="image-product-cart" href="#"><img src="assets/imgs/page/product/img-detail.png" alt="kidify"></a><a class="title-product-cart" href="product-single.html">Toddler Turtleneck Sweater</a></div>
                  </td>
                  <td><span class="size-product">XL</span></td>
                  <td><span class="brand-1">$25.36</span></td>
                  <td>
                    <div class="product-quantity">
                      <div class="quantity"><span class="icon icon-minus d-flex align-items-center">
                          <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.75 11.25C17.9167 11.25 18 11.3333 18 11.5V12.5C18 12.6667 17.9167 12.75 17.75 12.75H6.25C6.08333 12.75 6 12.6667 6 12.5V11.5C6 11.3333 6.08333 11.25 6.25 11.25H17.75Z" fill="currentColor"></path>
                          </svg></span>
                        <input class="input-quantity border-0 text-center" type="text" value="1"><span class="icon icon-plus d-flex align-items-center">
                          <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.75 11.25C17.9167 11.25 18 11.3333 18 11.5V12.5C18 12.6667 17.9167 12.75 17.75 12.75H12.75V17.75C12.75 17.9167 12.6667 18 12.5 18H11.5C11.3333 18 11.25 17.9167 11.25 17.75V12.75H6.25C6.08333 12.75 6 12.6667 6 12.5V11.5C6 11.3333 6.08333 11.25 6.25 11.25H11.25V6.25C11.25 6.08333 11.3333 6 11.5 6H12.5C12.6667 6 12.75 6.08333 12.75 6.25V11.25H17.75Z" fill="currentColor"></path>
                          </svg></span>
                      </div>
                    </div>
                  </td>
                  <td><span class="brand-1">$25.36</span></td>
                  <td><a href="#">
                      <svg class="d-inline-flex align-items-center justify-content-center" width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.00011 4.82166L10.1251 0.696655L11.3034 1.87499L7.17844 5.99999L11.3034 10.125L10.1251 11.3033L6.00011 7.17832L1.87511 11.3033L0.696777 10.125L4.82178 5.99999L0.696777 1.87499L1.87511 0.696655L6.00011 4.82166Z" fill="#111111"></path>
                      </svg></a></td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox">
                  </td>
                  <td>
                    <div class="box-product-cart"><a class="image-product-cart" href="#"><img src="assets/imgs/page/product/img-detail.png" alt="kidify"></a><a class="title-product-cart" href="product-single.html">Baby Booties Set</a></div>
                  </td>
                  <td><span class="size-product">XL</span></td>
                  <td><span class="brand-1">$35.62</span></td>
                  <td>
                    <div class="product-quantity">
                      <div class="quantity"><span class="icon icon-minus d-flex align-items-center">
                          <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.75 11.25C17.9167 11.25 18 11.3333 18 11.5V12.5C18 12.6667 17.9167 12.75 17.75 12.75H6.25C6.08333 12.75 6 12.6667 6 12.5V11.5C6 11.3333 6.08333 11.25 6.25 11.25H17.75Z" fill="currentColor"></path>
                          </svg></span>
                        <input class="input-quantity border-0 text-center" type="text" value="1"><span class="icon icon-plus d-flex align-items-center">
                          <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.75 11.25C17.9167 11.25 18 11.3333 18 11.5V12.5C18 12.6667 17.9167 12.75 17.75 12.75H12.75V17.75C12.75 17.9167 12.6667 18 12.5 18H11.5C11.3333 18 11.25 17.9167 11.25 17.75V12.75H6.25C6.08333 12.75 6 12.6667 6 12.5V11.5C6 11.3333 6.08333 11.25 6.25 11.25H11.25V6.25C11.25 6.08333 11.3333 6 11.5 6H12.5C12.6667 6 12.75 6.08333 12.75 6.25V11.25H17.75Z" fill="currentColor"></path>
                          </svg></span>
                      </div>
                    </div>
                  </td>
                  <td><span class="brand-1">$35.62</span></td>
                  <td><a href="#">
                      <svg class="d-inline-flex align-items-center justify-content-center" width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.00011 4.82166L10.1251 0.696655L11.3034 1.87499L7.17844 5.99999L11.3034 10.125L10.1251 11.3033L6.00011 7.17832L1.87511 11.3033L0.696777 10.125L4.82178 5.99999L0.696777 1.87499L1.87511 0.696655L6.00011 4.82166Z" fill="#111111"></path>
                      </svg></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-lg-5 mb-30">
              <div class="box-form-discount">
                <div class="box-form-discount-inner">
                  <input class="form-control" type="text" placeholder="Discount Code">
                  <button class="btn btn-apply">Apply</button>
                </div>
              </div>
              <div class="box-calc-shipping">
                <h6 class="font-md-bold mb-10">Calculate Shipping</h6>
                <p class="mb-5 font-sm">Flat rate: 5%</p>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <select class="form-control" name="state">
                        <option value="">Country</option>
                        <option value="Japan">Japan</option>
                        <option value="USA">USA</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Stage / Country">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="PostCode / ZIP">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-30">
              <div class="box-cart-total">
                <div class="item-total"><span class="font-sm">Subtotal</span><span class="font-md-bold">$2.51</span></div>
                <div class="item-total"><span class="font-sm">Shipping</span><span class="font-md-bold">Free</span></div>
                <div class="item-total"><span class="font-sm">Estimate for</span><span class="font-md-bold">United Kingdom</span></div>
                <div class="item-total border-0"><span class="font-sm">Total</span><span class="font-xl-bold">$2.51</span></div><a class="btn btn-brand-1-xl-bold w-100 font-sm-bold" href="#">Proceed To CheckOut</a>
              </div>
            </div>
            <div class="col-lg-3 mb-30">
              <div class="box-button-checkout"><a class="btn btn-brand-1-border-2 mr-10" href="#">Continue Shopping
                  <svg class="icon-16 ml-5" fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                  </svg></a><a class="btn btn-brand-1-bold" href="#">
                  <svg class="icon-16 mr-5" width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.00002 8C2.00002 4.68629 4.68631 2 8.00002 2C9.88486 2 11.5667 2.86911 12.6667 4.22844" stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M13 2L13 4.66667L10.3333 4.66667" stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M14 8C14 11.3137 11.3137 14 8.00001 14C6.11517 14 4.43331 13.1309 3.33334 11.7716" stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M3 14L3 11.3333L5.66667 11.3333" stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>Update Cart</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="section block-section block-section-instagram-5"> 
      <div class="container"> 
        <div class="top-head top-head-abs justify-content-center"> 
          <p class="font-md-bold text-uppercase brand-1 wow fadeInDown">FOLLOW US ON INSTAGRAM</p><a class="kidify-icon" href="#">kidify.com</a>
        </div>
      </div>
      <div class="box-gallery-instagram"> 
        <div class="box-gallery-instagram-inner">
          <div class="gallery-item wow fadeInLeft"><img src="assets/imgs/page/homepage1/instagram6.png" alt="kidify"></div>
          <div class="gallery-item wow fadeInUp"><img src="assets/imgs/page/homepage1/instagram.png" alt="kidify"></div>
          <div class="gallery-item wow fadeInUp"><img src="assets/imgs/page/homepage1/instagram2.png" alt="kidify"></div>
          <div class="gallery-item wow fadeInUp"><img src="assets/imgs/page/homepage1/instagram3.png" alt="kidify"></div>
          <div class="gallery-item wow fadeInRight"><img src="assets/imgs/page/homepage1/instagram4.png" alt="kidify"></div>
          <div class="gallery-item wow fadeInRight"><img src="assets/imgs/page/homepage1/instagram5.png" alt="kidify"></div>
        </div>
      </div>
    </div>
  </main>
