<main class="main">
  <section class="section block-blog-single block-cart">
    <div class="container">
      <div class="top-head-blog">
        <div class="text-center">
          <h2 class="font-4xl-bold">Mon Panier</h2>
        </div>
      </div>
      <div class="box-table-cart">
        <div class="table-responsive">
          <table class="table table-striped table-cart">
            <thead>
              <tr>
                <th class="text-start">Produit</th>
                <th>Prix ​​unitaire</th>
                <th>Quantité</th>
                <th>Sous-total</th>
                <th>Supprimer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of cart">
                <td>
                  <div class="box-product-cart">
                    <a class="image-product-cart" [routerLink]="['/Product', product.id]"><img
                        [src]="baseUrl + product.image" alt="product"></a>
                    <a class="title-product-cart" [routerLink]="['/Product', product.id]">{{ product.name }}</a>
                  </div>
                </td>
                <td>
                  <p class="font-lg">
                    <span *ngIf="product.promotion" class="cardDesc mr-15">{{
                        product.promo_price }} TND</span>
                    <span [class.cardPriceSale]="product.promotion">{{ product.price}}TND</span>
                  </p>
                </td>
                <td>
                  <div class="quantity-controls">
                    <button (click)="decreaseQuantity(product)">-</button>
                    <input class="input-quantity border-0 text-center" type="number" [(ngModel)]="product.quantity"
                      readonly min=1>
                    <button (click)="increaseQuantity(product)">+</button>
                  </div>
                </td>
                <td><span class="brand-1">{{ product.quantity * product.price }}TND</span></td>
                <td>
                  <a routerLink="/shopCart" (click)="removeProduct(product.id)">
                    <svg class="d-inline-flex align-items-center justify-content-center" width="12" height="12"
                      viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M6.00011 4.82166L10.1251 0.696655L11.3034 1.87499L7.17844 5.99999L11.3034 10.125L10.1251 11.3033L6.00011 7.17832L1.87511 11.3033L0.696777 10.125L4.82178 5.99999L0.696777 1.87499L1.87511 0.696655L6.00011 4.82166Z"
                        fill="#111111"></path>
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section class="section block-order">
    <form #orderForm="ngForm" (ngSubmit)="orderForm.valid && submitOrder(orderForm.value)">
      <div class="row">
        <div class="col-lg-5 mb-30">
          <div class="box-calc-shipping">
            <h6 class="font-md-bold mb-10">Formulaire de commande</h6>
            <p class="mb-5 font-sm">Veuillez remplir ce formulaire</p>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <input class="form-control" type="text" name="name" placeholder="Nom & prénom" ngModel
                    required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input class="form-control" type="email" name="email" placeholder="Saisir votre email (optionnel)" ngModel>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input class="form-control" type="text" name="address" placeholder="Adresse" ngModel required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input class="form-control" type="tel" name="phone" placeholder="Téléphone" ngModel required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-30">
          <div class="box-cart-total">
            <div class="item-total">
              <span class="font-sm">Sous-total</span>
              <span class="font-md-bold">{{ calculateSubTotal() }} TND</span>
            </div>
            <div class="item-total">
              <span class="font-sm">Livraison</span>
              <span class="font-md-bold">7 TND</span>
            </div>
            <div class="item-total border-0">
              <span class="font-sm">Total</span>
              <span class="font-xl-bold">{{ calculateTotal() }} TND</span>
            </div>
            <button type="submit" class="btn btn-brand-1-xl-bold w-100 font-sm-bold" [disabled]="!orderForm.valid">
              Valider la commande
            </button>
          </div>
        </div>
      </div>
    </form>
  </section>
</main>