<body>
    <main class="main">
        <section class="section block-blog-single">
            <div class="container">
                <div class="top-head-blog">
                    <div class="text-center">
                        <h2 class="font-4xl-bold">A propos</h2>
                    </div>
                </div>
                <div class="feature-image"><img src="assets/imgs/Website-pic/Slides/aboutus.jpg" alt="GraceCreations"></div>
                <div class="content-detail">
                    <p>
                        <strong>
                            En tant que mamans et passionnés de belles créations, 
                            nous savons à quel point il est essentiel d’allier style, confort et praticité au quotidien. 
                            Que ce soit pour une sortie, un moment de jeu ou un instant de tendresse avec bébé, chaque accessoire 
                            doit être à la fois fonctionnel et élégant. C’est dans cet esprit que Grace Creations est née : 
                            offrir des pièces uniques, conçues avec amour, pour accompagner les femmes et les tout-petits dans chaque 
                            moment précieux de leur vie.
                        </strong>
                    </p>
                    <h2>Notre Mission</h2>
                    <p>
                        Notre mission est claire : créer des accessoires qui célèbrent la féminité et l’enfance avec une touche d’élégance
                        et de douceur. Nous croyons que chaque objet du quotidien doit être à la fois esthétique et fonctionnel, 
                        capable d’accompagner les femmes et les enfants dans toutes leurs aventures.<br>
                        Des créations pleines de vie et de joie, inspirées par vous, conçues pour durer. 
                        Que vous soyez une maman en quête de praticité, une femme à la recherche d’un accessoire unique, 
                        ou un parent souhaitant offrir le meilleur à son enfant, Grace Creations est là pour embellir chaque instant, 
                        avec amour et délicatesse.
                    </p>
                </div>
            </div>
            <div class="box-gallery-about">
                <div class="container-1190">
                    <h2 class="font-3xl-bold mb-55">Notre Gallerie</h2>
                    <div class="box-gallery-list">
                        <div class="gallery-main">
                            <a class="glightbox">
                                <img src="assets/imgs/Website-pic/Trousses/Trousse-gatifa.png" alt="GraceCreations">
                            </a>
                        </div>
                        <div class="gallery-sub">
                            <a class="glightbox"><img src="assets/imgs/Website-pic/Pack/pack coeur.jpeg" alt="GraceCreations"></a>
                            <a class="glightbox"><img src="assets/imgs/Website-pic/Sac à dos/sacados-enfant.png" alt="GraceCreations"></a>
                            <a class="glightbox"><img src="assets/imgs/Website-pic/Sac à longer/Sac-maman-nounours.png" alt="GraceCreations"></a>
                            <a class="glightbox"><img src="assets/imgs/Website-pic/Pack/pack-nounours.png" alt="GraceCreations"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="content-detail">
                    <h2>Notre Histoire</h2>
                    <p>
                        Tout a commencé avec une idée simple : créer des accessoires qui allient beauté et utilité, 
                        sans compromis sur la qualité. Chaque maman mérite un sac à langer qui soit à la fois chic et pratique, 
                        chaque enfant un petit sac qui l’accompagne dans ses premières découvertes, et chaque femme un accessoire 
                        qui reflète son style et sa personnalité. Inspirés par les couleurs de la vie, les textures réconfortantes 
                        et l’authenticité des matières, nous avons sélectionné des tissus fleuris pleins de poésie, de la fourrure 
                        toute douce, du gatifa et du 3aloucha au toucher unique, et des tissus imperméables pour une touche de praticité.
                    </p>
                    <p>
                        Chez Grace Creations, chaque détail est pensé pour raconter une histoire : 
                        celle d’un instant précieux, d’un sourire échangé, d’un souvenir en devenir.
                    </p>
                </div>
            </div>
        </section>
    </main>
    <script src="../../assets/js/vendors/modernizr-3.6.0.min.js"></script>
    <script src="../../assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="../../assets/js/vendors/jquery-migrate-3.3.0.min.js"></script>
    <script src="../../assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/vendors/waypoints.js"></script>
    <script src="../../assets/js/vendors/wow.js"></script>
    <script src="../../assets/js/vendors/magnific-popup.js"></script>
    <script src="../../assets/js/vendors/perfect-scrollbar.min.js"></script>
    <script src="../../assets/js/vendors/select2.min.js"></script>
    <script src="../../assets/js/vendors/isotope.js"></script>
    <script src="../../assets/js/vendors/scrollup.js"></script>
    <script src="../../assets/js/vendors/swiper-bundle.min.js"></script>
    <script src="../../assets/js/vendors/noUISlider.js"></script>
    <script src="../../assets/js/vendors/slider.js"></script>
    <!-- Count down-->
    <script src="../../assets/js/vendors/counterup.js"></script>
    <script src="../../assets/js/vendors/jquery.countdown.min.js"></script>
    <!-- Count down-->
    <script src="../../assets/js/vendors/jquery.elevatezoom.js"></script>
    <script src="../../assets/js/vendors/slick.js"></script>
    <script src="../../assets/js/vendors/jquery-ui.js"></script>
    <script src="../../assets/js/vendors/jquery.timepicker.min.js"></script>
    <script src="../../assets/js/vendors/glightbox.min.js"></script>
    <script src="../../assets/js/main.js?v=1.0.0"></script>
</body>