<body>
    <main class="main">
        <section class="section block-blog-single">
            <div class="container">
                <div class="top-head-blog">
                    <div class="text-center">
                        <h2 class="font-4xl-bold">About Us</h2>
                        <div class="breadcrumbs d-inline-block">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="feature-image"><img src="assets/imgs/page/about/img.png" alt="GraceCreations"></div>
                <div class="content-detail">
                    <h2>Our Stories</h2>
                    <p></p>
                    <p><strong>As parents, we know how important it is to have a smooth transition from playtime to
                            bedtime. Children often get so involved in their playtime activities that they don't want to
                            stop. However, when it's time to go to bed, they need to change into their pajamas.</strong>
                    </p>
                    <p>This can be a hassle, especially if your child is not in the mood to cooperate. But what if there
                        were outfits that could easily transition from playtime to bedtime? This would make our lives as
                        parents so much easier! In this article, we'll discuss some outfits that can do just that.</p>
                    <ul class="list-ticks">
                        <li><img src="assets/imgs/page/about/tick.png" alt="GraceCreations">We provide qualified & expert</li>
                        <li><img src="assets/imgs/page/about/tick.png" alt="GraceCreations">Modern tools & technology use</li>
                        <li><img src="assets/imgs/page/about/tick.png" alt="GraceCreations">Neat & cleaning top Services</li>
                        <li><img src="assets/imgs/page/about/tick.png" alt="GraceCreations">We Develop Digital Future</li>
                    </ul>
                    <div class="box-experiences">
                        <div class="row">
                            <div class="col-lg-4"><strong class="font-xl-bold">12 Years</strong>
                                <p class="font-md neutral-500">We’ve more than 12 years working experience.</p>
                            </div>
                            <div class="col-lg-4"><strong class="font-xl-bold">2000+ Employee</strong>
                                <p class="font-md neutral-500">We’ve more than 2000 employees working near you.</p>
                            </div>
                            <div class="col-lg-4"><strong class="font-xl-bold">68 Branches</strong>
                                <p class="font-md neutral-500">We have 68 branches across the country and are expanding
                                </p>
                            </div>
                        </div>
                    </div>
                    <h2>Our Mission</h2>
                    <p>This can be a hassle, especially if your child is not in the mood to cooperate. But what if there
                        were outfits that could easily transition from playtime to bedtime? This would make our lives as
                        parents so much easier! In this article, we'll discuss some outfits that can do just that.</p>
                </div>
            </div>
            <div class="box-gallery-about">
                <div class="container-1190">
                    <h2 class="font-3xl-bold mb-55">Our Gallery</h2>
                    <div class="box-gallery-list">
                        <div class="gallery-main"><a class="glightbox" href="assets/imgs/page/about/gallery.png"><img
                                    src="assets/imgs/page/about/gallery.png" alt="GraceCreations"></a></div>
                        <div class="gallery-sub"><a class="glightbox" href="assets/imgs/page/about/gallery2.png"><img
                                    src="assets/imgs/page/about/gallery2.png" alt="GraceCreations"></a><a class="glightbox"
                                href="assets/imgs/page/about/gallery3.png"><img
                                    src="assets/imgs/page/about/gallery3.png" alt="GraceCreations"></a><a class="glightbox"
                                href="assets/imgs/page/about/gallery4.png"><img
                                    src="assets/imgs/page/about/gallery4.png" alt="GraceCreations"></a><a class="glightbox"
                                href="assets/imgs/page/about/gallery5.png"><img
                                    src="assets/imgs/page/about/gallery5.png" alt="GraceCreations"></a></div>
                    </div>
                </div>
            </div>
            <!--<div class="box-reviews-about">
                <div class="content-detail mb-20">
                    <h2 class="font-3xl-bold">Our Happy Customes</h2>
                </div>
                <div class="feature-image mb-0"><span class="title-left"></span></div>
                <div class="box-slider-about box-slide-padding-left">
                    <div class="box-swiper">
                        <div class="swiper-container swiper-auto pt-35">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="cardReview">
                                        <div class="cardRating"><img src="assets/imgs/template/icons/star.svg"
                                                alt="GraceCreations"><img src="assets/imgs/template/icons/star.svg"
                                                alt="GraceCreations"><img src="assets/imgs/template/icons/star.svg"
                                                alt="GraceCreations"><img src="assets/imgs/template/icons/star.svg"
                                                alt="GraceCreations"><img src="assets/imgs/template/icons/star.svg"
                                                alt="GraceCreations"></div>
                                        <div class="cardReviewText">
                                            <p class="font-sm neutral-900">"I recently discovered this fashion shop and
                                                I am obsessed! The clothes are of great quality and the designs are
                                                unique and stylish. I always receive compliments whenever I wear
                                                something from this store. Definitely my new go-to for trendy outfits.
                                            </p>
                                        </div>
                                        <div class="cardAuthor"><img src="assets/imgs/page/homepage2/avatar-review.png"
                                                alt="GraceCreations"><span class="font-lg-bold brand-1">Sarah L</span></div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="cardReview">
                                        <div class="cardRating"><img src="assets/imgs/template/icons/star.svg"
                                                alt="GraceCreations"><img src="assets/imgs/template/icons/star.svg"
                                                alt="GraceCreations"><img src="assets/imgs/template/icons/star.svg"
                                                alt="GraceCreations"><img src="assets/imgs/template/icons/star.svg"
                                                alt="GraceCreations"><img src="assets/imgs/template/icons/star.svg"
                                                alt="GraceCreations"></div>
                                        <div class="cardReviewText">
                                            <p class="font-sm neutral-900">"I recently discovered this fashion shop and
                                                I am obsessed! The clothes are of great quality and the designs are
                                                unique and stylish. I always receive compliments whenever I wear
                                                something from this store. Definitely my new go-to for trendy outfits.
                                            </p>
                                        </div>
                                        <div class="cardAuthor"><img src="assets/imgs/page/homepage2/avatar-review.png"
                                                alt="GraceCreations"><span class="font-lg-bold brand-1">Sarah L</span></div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="cardReview">
                                        <div class="cardRating"><img src="assets/imgs/template/icons/star.svg"
                                                alt="GraceCreations"><img src="assets/imgs/template/icons/star.svg"
                                                alt="GraceCreations"><img src="assets/imgs/template/icons/star.svg"
                                                alt="GraceCreations"><img src="assets/imgs/template/icons/star.svg"
                                                alt="GraceCreations"><img src="assets/imgs/template/icons/star.svg"
                                                alt="GraceCreations"></div>
                                        <div class="cardReviewText">
                                            <p class="font-sm neutral-900">"I recently discovered this fashion shop and
                                                I am obsessed! The clothes are of great quality and the designs are
                                                unique and stylish. I always receive compliments whenever I wear
                                                something from this store. Definitely my new go-to for trendy outfits.
                                            </p>
                                        </div>
                                        <div class="cardAuthor"><img src="assets/imgs/page/homepage2/avatar-review.png"
                                                alt="GraceCreations"><span class="font-lg-bold brand-1">Sarah L</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-pagination-button box-pagination-button-center">
                            <div class="swiper-pagination swiper-pagination-banner swiper-pagination-auto"></div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="container">
                <div class="content-detail">
                    <h2>Our Stories</h2>
                    <p>Ex quos nemo a voluptatum delectus et totam soluta sit illo voluptatem in consequuntur sunt vel
                        doloremque sunt eos nihil quas. Ut odit velit cum maxime corrupti qui quia corporis quo
                        explicabo autem et fugit omnis aut fugiat quia sit molestias ipsam. Sit nihil quod non corrupti
                        reprehenderit At saepe ducimus aut dolorem dolorum eum ratione expedita ab aliquid minima. A
                        illum voluptas et inventore totam eum inventore enim in obcaecati aspernatur ea aliquam
                        pariatur.</p>
                    <p>Ad magnam rerum quo magni rerum ut accusamus vitae ut nobis voluptatum est dicta voluptate et
                        libero similique. Sit harum porro non illum voluptatibus eum suscipit facere. Rem dolores
                        dolorum ut doloribus impedit sed expedita quasi qui doloremque consequuntur eum vitae
                        perferendis qui fugit temporibus.</p>
                    <p>Est exercitationem natus eos repudiandae cumque ex voluptas officiis cum laborum aspernatur. Vel
                        accusantium laborum qui modi praesentium hic quia consequatur ea nihil expedita aut tempore
                        illum. Vel vitae praesentium sit neque delectus sit magnam tenetur ea blanditiis consequuntur
                        cum quaerat sapiente in cumque molestias qui quibusdam inventore. Rem facere esse non ipsum
                        quisquam et fugiat accusantium ut maxime blanditiis cum quis sint?</p>
                </div>
            </div>
        </section>
    </main>
    <script src="../../assets/js/vendors/modernizr-3.6.0.min.js"></script>
    <script src="../../assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="../../assets/js/vendors/jquery-migrate-3.3.0.min.js"></script>
    <script src="../../assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/vendors/waypoints.js"></script>
    <script src="../../assets/js/vendors/wow.js"></script>
    <script src="../../assets/js/vendors/magnific-popup.js"></script>
    <script src="../../assets/js/vendors/perfect-scrollbar.min.js"></script>
    <script src="../../assets/js/vendors/select2.min.js"></script>
    <script src="../../assets/js/vendors/isotope.js"></script>
    <script src="../../assets/js/vendors/scrollup.js"></script>
    <script src="../../assets/js/vendors/swiper-bundle.min.js"></script>
    <script src="../../assets/js/vendors/noUISlider.js"></script>
    <script src="../../assets/js/vendors/slider.js"></script>
    <!-- Count down-->
    <script src="../../assets/js/vendors/counterup.js"></script>
    <script src="../../assets/js/vendors/jquery.countdown.min.js"></script>
    <!-- Count down-->
    <script src="../../assets/js/vendors/jquery.elevatezoom.js"></script>
    <script src="../../assets/js/vendors/slick.js"></script>
    <script src="../../assets/js/vendors/jquery-ui.js"></script>
    <script src="../../assets/js/vendors/jquery.timepicker.min.js"></script>
    <script src="../../assets/js/vendors/glightbox.min.js"></script>
    <script src="../../assets/js/main.js?v=1.0.0"></script>
</body>