.box-form-contact {
    padding: 40px; 
}

.form-group {
    padding: 10px 0; 
}

.box-contact-right {
    padding: 20px;
}

.block-shop-head-3{
    width: 100%;

}

.text-center{
    width: 100%;

}

.row{
    margin-top: 2%;
}
