<body>
    <div class="box-form-contact">
        <div class="section block-contact-head">
            <div class="container text-center">
                <h2 class="font-4xl mb-20">Contactez nous</h2>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Your name *">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Your email *">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Your phone number">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Subject">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea class="form-control" rows="6" placeholder="Message / Note"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <button class="btn btn-brand-1-medium">Submit Now</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <div class="box-contact-right">
                    <h4 class="font-2xl-bold mb-10">Looking for support or chat with sales?</h4>
                    <p class="font-md mb-40">If you need support with an existing Kidify issued card, please email:
                        support&#64;kidkify.com To talk with someone on our sales team, please Talk to an expert</p>
                    <h4 class="font-2xl-bold mb-10">Address</h4>
                    <p class="font-md"><strong class="font-md-bold">Kidify Corp</strong><br>456 Park Avenue South, Apt
                        7B<br>New York, NY 10016</p>
                </div>
            </div>
        </div>
    </div>
</body>