<body>
    <div class="box-form-contact">
        <div class="section block-shop-head-3">
            <div class="container text-center">
                <h2 class="font-4xl mb-20">Contactez-nous</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form [formGroup]="contactForm" (ngSubmit)="envoyerMessage()">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Votre nom *"
                                    formControlName="name">
                                <div *ngIf="contactForm.get('name')?.errors?.['required'] && contactForm.get('name')?.touched">
                                    Le nom est requis.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="Votre email *"
                                    formControlName="email">
                                <div *ngIf="contactForm.get('email')?.errors?.['required'] && contactForm.get('email')?.touched">
                                    L'email est requis.
                                </div>
                                <div *ngIf="contactForm.get('email')?.errors?.['email'] && contactForm.get('email')?.touched">
                                    Veuillez entrer un email valide.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Votre téléphone" formControlName="phone">
                                <div *ngIf="contactForm.get('phone')?.errors?.['required'] && contactForm.get('phone')?.touched">
                                  Le téléphone est requis.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea class="form-control" rows="6" placeholder="Message / Note"
                                    formControlName="message"></textarea>
                                <div *ngIf="contactForm.get('message')?.errors?.['required'] && contactForm.get('message')?.touched">
                                    Le message est requis.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <button class="btn btn-brand-1-medium" type="submit" [disabled]="!contactForm.valid">
                                    Soumettre maintenant
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <div class="box-contact-right">
                    <h4 class="font-2xl-bold mb-10">Vous recherchez de l'aide ou une discussion avec le service commercial ?</h4>
                    <p class="font-md mb-40">
                        Si vous avez besoin d'aide avec une carte Kidify existante, veuillez envoyer un e-mail à :
                        <strong>GraceCreations&#64;gmail.com</strong>. Pour parler à un membre de notre équipe
                        commerciale, veuillez parler à un expert.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
