.box-form-contact {
    padding: 40px; /* Ajustez la valeur selon votre besoin */
}

.form-group {
    padding: 10px 0; /* Espacement vertical entre les champs */
}

.box-contact-right {
    padding: 20px;
}

.block-shop-head-3{
    width: 100%;

}

.text-center{
    width: 100%;

}
