.header {
    padding: 0px 0;
    float: left;
    width: 100%;
    position: fixed;
    border-bottom: 0px solid #B9CAD0;
    background-color: transparent;
    z-index: 1004;
    top: 0px;
    left: 0px;
}

.header .main-header {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
}

.header .main-header .header-logo {
    max-width: 100px;
    width: 10%;
    min-width: 10px;
}

.sticky-bar.stick {
    animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1004;
    left: 0;
    transition: all 0.3s ease 0s;
    border-bottom: 0px solid #B9CAD0;
    background: #ffffff;
}

.col-menu {
    width: 100px;
    align-items: center;
}

.menu-inner .col-menu h6 a {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-container input {
    width: 150px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: width 0.3s ease-in-out;
}

.header-account {
    display: flex;
    align-items: center;
    gap: 5px;
    /* Espacement entre les icônes */
}

.search-container .search-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
}