<body>
  <header class="header sticky-bar header-style-1" *ngIf="showLayout">
    <div class="box-top-header">
      <div class="container">
        <div class="main-header">
          <div class="header-logo" *ngIf="logoSlide">
            <a class="d-flex" routerLink="">
              <img [src]="baseUrl + logoSlide.image" alt="GraceCreations">
            </a>
          </div>
          <div class="header-menu">
            <div class="header-nav">
              <nav class="nav-main-menu d-none d-xl-block">
                <ul class="main-menu">
                  <li class="has-mega-menu"><a class="active" routerLink="">Acceuil</a></li>
                  <li><a routerLink="/About">A propos</a></li>
                  <li class="has-mega-menu">
                    <a routerLink="/Shop">Nos produits</a>
                    <div class="sub-menu">
                      <div class="menu-inner">
                        <div class="col-menu" *ngFor="let category of categories">
                          <h6 class="font-lg-bold mb-10"><a [routerLink]="['/Shop', category.id]">{{ category.name
                              }}</a></h6>
                          <div *ngIf="subcategories[category.id] && subcategories[category.id].length > 0">
                            <a *ngFor="let subcategory of subcategories[category.id]"
                              [routerLink]="['/Shop', category.id, subcategory.id]">
                              {{ subcategory.name }}
                            </a>
                          </div>
                          <div *ngIf="subcategories[category.id] && subcategories[category.id].length === 0">
                            <p>No subcategories available</p>
                          </div>
                        </div>
                        <div class="col-menu-2" *ngIf="navbarSlide">
                          <a class="d-flex" routerLink="">
                            <img [src]="baseUrl + navbarSlide.image" alt="GraceCreations">
                          </a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li><a routerLink="/Contact">Contact</a></li>
                </ul>
              </nav>
              <div class="burger-icon burger-icon-white">
                <span class="burger-icon-top"></span>
                <span class="burger-icon-mid"></span>
                <span class="burger-icon-bottom"></span>
              </div>
            </div>
          </div>
          <div class="header-account">
            <div class="search-container">
              <div class="account-icon search search-icon" *ngIf="!isSearchActive" (click)="toggleSearch()">
                <svg width="28" height="28" viewbox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_91_73)">
                    <path
                      d="M20.031 18.617L24.314 22.899L22.899 24.314L18.617 20.031C17.0237 21.3082 15.042 22.0029 13 22C8.032 22 4 17.968 4 13C4 8.032 8.032 4 13 4C17.968 4 22 8.032 22 13C22.0029 15.042 21.3082 17.0237 20.031 18.617ZM18.025 17.875C19.2941 16.5699 20.0029 14.8204 20 13C20 9.132 16.867 6 13 6C9.132 6 6 9.132 6 13C6 16.867 9.132 20 13 20C14.8204 20.0029 16.5699 19.2941 17.875 18.025L18.025 17.875Z">
                    </path>
                  </g>
                </svg>
              </div>
              <input *ngIf="isSearchActive" type="text" [(ngModel)]="searchText" placeholder="Rechercher..."
                (keydown.enter)="hideSearch()" />
            </div>
            <a class="account-icon account" (click)="openModalOrProfile()">
              <svg class="d-inline-flex align-items-center justify-content-center" width="28" height="28"
                viewbox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_116_451)">
                  <path
                    d="M6 24C6 21.8783 6.84285 19.8434 8.34315 18.3431C9.84344 16.8429 11.8783 16 14 16C16.1217 16 18.1566 16.8429 19.6569 18.3431C21.1571 19.8434 22 21.8783 22 24H20C20 22.4087 19.3679 20.8826 18.2426 19.7574C17.1174 18.6321 15.5913 18 14 18C12.4087 18 10.8826 18.6321 9.75736 19.7574C8.63214 20.8826 8 22.4087 8 24H6ZM14 15C10.685 15 8 12.315 8 9C8 5.685 10.685 3 14 3C17.315 3 20 5.685 20 9C20 12.315 17.315 15 14 15ZM14 13C16.21 13 18 11.21 18 9C18 6.79 16.21 5 14 5C11.79 5 10 6.79 10 9C10 11.21 11.79 13 14 13Z">
                  </path>
                </g>
                <defs>
                  <clippath id="clip0_116_451">
                    <rect width="24" height="24" fill="white" transform="translate(2 2)"></rect>
                  </clippath>
                </defs>
              </svg>
            </a>
            <a class="account-icon cart" routerLink="/shopCart">
              <span class="number-tag">{{ cartItemCount }}</span>
              <svg width="28" height="28" viewbox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_116_450)">
                  <path
                    d="M9 10V8C9 6.67392 9.52678 5.40215 10.4645 4.46447C11.4021 3.52678 12.6739 3 14 3C15.3261 3 16.5979 3.52678 17.5355 4.46447C18.4732 5.40215 19 6.67392 19 8V10H22C22.2652 10 22.5196 10.1054 22.7071 10.2929C22.8946 10.4804 23 10.7348 23 11V23C23 23.2652 22.8946 23.5196 22.7071 23.7071C22.5196 23.8946 22.2652 24 22 24H6C5.73478 24 5.48043 23.8946 5.29289 23.7071C5.10536 23.5196 5 23.2652 5 23V11C5 10.7348 5.10536 10.4804 5.29289 10.2929C5.48043 10.1054 5.73478 10 6 10H9ZM9 12H7V22H21V12H19V14H17V12H11V14H9V12ZM11 10H17V8C17 7.20435 16.6839 6.44129 16.1213 5.87868C15.5587 5.31607 14.7956 5 14 5C13.2044 5 12.4413 5.31607 11.8787 5.87868C11.3161 6.44129 11 7.20435 11 8V10Z">
                  </path>
                </g>
                <defs>
                  <clippath id="clip0_116_450">
                    <rect width="24" height="24" transform="translate(2 2)"></rect>
                  </clippath>
                </defs>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main class="content">
    <router-outlet></router-outlet>
    <div class="section block-section block-section-gallery block-section-instagram-5"
      *ngIf="showLayout && showIgLayout">
      <div class="container">
        <div class="top-head top-head-abs justify-content-center">
          <p class="font-md-bold text-uppercase brand-1 wow fadeInDown">FOLLOW US ON INSTAGRAM</p>
          <a class="GraceCreations-icon" href="https://www.instagram.com/gracecreations.art/"
            target="_blank">GraceCreations.com</a>
        </div>
      </div>
      <div class="box-gallery-instagram">
        <div class="box-gallery-instagram-inner">
          <div *ngFor="let slide of instagramSlide" class="gallery-item wow fadeInLeft">
            <img [src]="baseUrl + slide.image" alt="GraceCreations" width="500px" height="200px">
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer footer-style-4" *ngIf="showLayout">
    <div class="footer-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 order-lg-1 order-md-2 mb-30 wow animate__animated animate__fadeIn"
            data-wow-delay=".0s">
            <h5 class="neutral-900 text-uppercase mb-30">CONTACT</h5>
            <p class="neutral-900 font-lg desc-company">Tous les jours de la semaine, 24 h/24.</p>
            <p class="neutral-900 font-lg phone-footer">+216 54 878 763</p>
            <p class="neutral-900 font-lg email-footer">GraceCreations&#64;gmail.com</p>
          </div>
          <div class="col-lg-2 col-md-6 footer-logo-container mb-30 wow animate__animated animate__fadeIn"
            data-wow-delay=".05s">
            <a routerLink="">
              <img [src]="baseUrl + logoSlide.image" alt="GraceCreations">
            </a>
          </div>
          <div class="col-lg-3 col-md-6 mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".1s">
            <h5 class="neutral-900 text-uppercase mb-30">SOCIAL</h5>
            <ul class="menu-footer">
              <li><a class="facebook"
                  href="https://www.facebook.com/profile.php?id=61550052452541&locale=fr_FR">Facebook</a></li>
              <li><a class="instagram" href="https://www.instagram.com/gracecreations.art/">Instagram</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-2">
      <div class="container">
        <div class="footer-bottom">
          <div class="box-container-footer">
            <div class="row align-items-center">
              <div class="col-lg-4 col-md-12 text-center mb-20">
                <span class="body-p1 neutral-900 mr-5">©2025</span><a href="#">GraceCreations</a>. All rights reserved
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-----------------------------------------------------------LOGIN/SIGNUP---------------------------------------------------------->

  <div class="modal" [class.show]="isModalOpen">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <div class="feature-image"><img src="assets/imgs/Website-pic/Slides/login_register.png" alt="GraceCreations"></div>
      <div class="tabs">
        <a href="#" [class.active]="activeTab === 'login'" (click)="switchTab('login', $event)">Connexion</a>
        <a href="#" [class.active]="activeTab === 'signup'" (click)="switchTab('signup', $event)">Inscription</a>
      </div>

      <!-- Formulaire de connexion -->
      <div *ngIf="activeTab === 'login'">
        <div *ngIf="errorMessage" class="alert alert-danger text-center">
          {{ errorMessage }}
        </div>
        <form (submit)="onLogin($event)">
          <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="email" placeholder="Entrez votre email" [(ngModel)]="credentials.email" name="email" required />
          </div>

          <div class="form-group">
            <label>Mot de passe</label>
            <input class="form-control" type="password" placeholder="Entrez votre mot de passe"
              [(ngModel)]="credentials.password" name="password" required />
          </div>

          <button class="btn-primary" type="submit">Se connecter</button>
        </form>
      </div>

      <div *ngIf="activeTab === 'signup'">
        <div *ngIf="errorMessage" class="alert alert-danger text-center">
          {{ errorMessage }}
        </div>
        <form (submit)="onSignup($event)">
          <div class="form-group">
            <label>Nom & prénom</label>
            <input class="form-control" type="text" placeholder="Entrez votre nom & prénom" [(ngModel)]="user.name"
              name="name" required />
          </div>

          <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="email" placeholder="Entrez votre email" [(ngModel)]="user.email"
              name="email" required />
          </div>

          <div class="form-group">
            <label>Mot de passe</label>
            <input class="form-control" type="password" placeholder="Entrez votre mot de passe"
              [(ngModel)]="user.password" name="password" required />
          </div>

          <div class="form-group">
            <label>Confirmer mot de passe</label>
            <input class="form-control" type="password" placeholder="Comfirmer votre mot de passe"
              [(ngModel)]="user.password_confirmation" name="password_confirmation" required />
          </div>
          <div class="d-grid">
            <button class="btn btn-primary" type="submit">Créer mon compte</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>