.header {
    padding: 0px 0;
    float: left;
    width: 100%;
    position: fixed;
    border-bottom: 0px solid #B9CAD0;
    background-color: transparent;
    z-index: 1004;
    top: 0px;
    left: 0px;
}
.header .main-header {
    display: flex;
    align-items: center;
    position: relative;
}
.header .main-header .header-logo {
    max-width: 170px;
    width: 10%;
    min-width: 170px;
}
.sticky-bar.stick {
    animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1004;
    left: 0;
    transition: all 0.3s ease 0s;
    border-bottom: 0px solid #B9CAD0;
    background: #ffffff;
}
.header-style-4 {
    background-color: #ffffff;
    position: relative;
}
.header-style-4 .main-header .header-account {
    width: auto;
    min-width: 488px;
    display: flex;
    align-items: center;
}
.header-style-4 .account-icon.search {
    display: none;
}
