<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="card p-4 shadow-sm">
                <h3 class="text-center mb-4">Sign Up</h3>

                <!-- Message d'erreur -->
                <div *ngIf="errorMessage" class="alert alert-danger text-center">
                    {{ errorMessage }}
                </div>

                <form (submit)="onSignup($event)">
                    <div class="form-group mb-3">
                        <label>Name</label>
                        <input class="form-control" type="text" placeholder="Enter your first name"
                            [(ngModel)]="user.name" name="name" required />
                    </div>

                    <div class="form-group mb-3">
                        <label>Email</label>
                        <input class="form-control" type="email" placeholder="Enter your email" [(ngModel)]="user.email"
                            name="email" required />
                    </div>

                    <div class="form-group mb-3">
                        <label>Password</label>
                        <input class="form-control" type="password" placeholder="Create a password"
                            [(ngModel)]="user.password" name="password" required />
                    </div>

                    <div class="form-group mb-3">
                        <label>Confirm Password</label>
                        <input class="form-control" type="password" placeholder="Confirm your password"
                            [(ngModel)]="user.password_confirmation" name="password_confirmation" required />
                    </div>
                    

                    <div class="form-group form-check mb-3">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="user.agree" name="agree"
                            required />
                        <label class="form-check-label">
                            Join for Free and start earning points today.
                        </label>
                    </div>

                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit">Create my account</button>
                    </div>
                </form>

                <div class="text-center mt-3">
                    <p class="body-p2">Already have an account?
                        <a routerLink="/login" class="text-primary">Login Now</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>