/*.block-shop-head-3 {
    background-color: #FFEFEA;
    background-image: url("../assets/imgs/page/shop/page-head-3-bg.png");
    padding-top: 200px;
    padding-bottom: 120px;
    background-position: center bottom;
    text-align: center;
  }
  .block-shop-head-3 .breadcrumbs ul {
    display: flex;
    justify-content: center;
  }*/