/* Style global du carousel */
.carousel-inner {
    border-radius: 10px;
    /* Bord arrondi pour le carousel */
    overflow: hidden;
    width: 96%;
    margin-left: 2%;
    margin-top: 5%;
}

/* Style des images du carousel */
.carousel-item img {
    object-fit: cover;
    /* Permet aux images de couvrir toute la zone sans déformation */
    height: 600px;
    /* Taille fixe pour les images */
}

/* Style des points de navigation */
.carousel-indicators {
    position: absolute;
    bottom: 1px;
    left: 35%;
    transform: translateX(-50%);
    z-index: 10;
}

.carousel-indicators button {
    background-color: #f7ddb5;
    border: 2px solid rgb(253, 182, 101);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    opacity: 0.7;
    /* transition: background-color 0.2s ease, transform 0.2s ease;*/
}

.carousel-indicators .active {
    background-color: rgb(253, 182, 101);
    /* Bleu pour l'indicateur actif */
    transform: scale(1.2);
    /* Augmente la taille de l'indicateur actif */
}

/* Effet au survol des indicateurs */
.carousel-indicators button:hover {
    opacity: 1;
    background-color: rgb(253, 182, 101);
}

/*******************************************************************************************/
/* Styles pour le conteneur des cartes */
.cardCategory {
    text-align: center;
    margin: 15px auto;
}

/* Styles pour l'image circulaire */
.cardCategory .cardImage {
    width: 120px;
    height: 120px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cardCategory .cardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardCategory .cardImage img:hover {
    transform: scale(1.1);
    /* Zoom léger au survol */
}

/* Styles pour le texte en dessous des images */
.cardCategory .cardInfo a {
    font-size: 16px;
    color: #333;
    /* Couleur du texte */
    font-weight: 500;
    text-decoration: none;
    /* Supprimer le soulignement */
    display: block;
    margin-top: 10px;
    transition: color 0.3s ease;
    /* Animation au survol */
}

/* Styles pour le carrousel */
.carousel {
    padding: 10px 0;
}

/* Styles pour aligner les éléments dans chaque slide */
.carousel-inner .row {
    justify-content: center;
    /* Centrer les éléments */
    gap: 15px;
    /* Espacement entre les colonnes */
}

.button-select button{
    background-color: #9F86D9;
    padding: 12px 10px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    border-color: #9F86D9;
  }