/*.box-product-lists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f6f1eb;
}

/*.cardProduct6 {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
}

.cardProduct6:hover {
    transform: scale(1.05);
}

.cardImage {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.cardInfo {
    padding: 10px 0;
}

.cardTitle {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.product-info-bottom {
    font-size: 14px;
    color: #666;
}

.button-select a {
    display: inline-block;
    background: #c0a080;
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-select a:hover {
    background: #a07a50;
    transform: translateY(-2px);
}
*/
/*******************************************************************************************************************************************/

