.banner-homepage1 .container {
    position: relative;
}
.banner-homepage1 .block-sale {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 3;
}
.banner-homepage4 {
    position: relative;
}
.banner-homepage4 .box-cover-image {
    background-color: transparent;
    background-size: cover;
    background-position: center top;
    height: 616px;
    border-radius: 8px;
    border: 1px solid #DBE2E5;
}
.box-swiper {
    position: relative;
    width: 100%;
}
.box-swiper .swiper-container {
    position: relative;
    height: 100%;
    padding-bottom: 35px;
}
.box-cover-image {
    position: relative;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 708px;
    background-color: #E3CEE3;
}
.swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
    margin-top: 0px;
}
.swiper-button-next {
    left: auto;
    right: 0px;
    top: 20px;
}
.swiper-button-prev {
    left: auto;
    right: 40px;
    top: 20px;
}

